// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #002561;
$font-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

}

.widget-clock h1 {

  font-size: 25px;
  color: $font-color;

}

.widget-clock h2 {

  font-size: 45px;
  color: $font-color;

}

